@CHARSET "UTF-8";

.ajaxStatus {
	position: fixed;
	z-index: 99;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes fade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.fadeOut {
	opacity: 0;
	animation: fade 0.5s linear;
}

.main {
	border: 1;
	clear: both;
	margin-top: 70px;
}
.header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #020202;
}

.header * {
	float: left;
	display: inline;
}

.header-session {
	position: fixed;
	right: 0;
	top: 0;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

.header-session * {
	float: inline;
	padding-right: 2px;
/* 	border: 1px solid; */
/* 	border-color: blue; */
}

.horizontalMenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontalMenu li {
    display: inline;
    float: left;
}

.horizontalMenu li a {
    text-decoration: none;
    display: block;
    width: 80px;
    height: 39px;
    padding: 14px 8px 2px 8px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    color: #dfdfdf;
    background-color: #020202;
}

.horizontalMenu li a:hover {
    background-color: green;
}
