@CHARSET "UTF-8";

.main {
	background-color: gray;
	border: 1;
	clear: both;
}
.header * {
	float: left;
	display: inline;
}

.header-session {
	position: fixed;
	right: 0;
	top: 0;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

.header-session * {
	float: inline;
/* 	border: 1px solid; */
/* 	border-color: blue; */
}

.horizontalMenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontalMenu li {
    display: inline;
    float: left;
}

.horizontalMenu li a {
    display: block;
    width: 60px;
    padding: 8px;
    background-color: #dddddd;
}